.dw-qu-item-el-checkbox-radio-icon {
  font-size: 18px;
  width: 28px;
  color: #b2b2b2;
}

table, tbody, tr, th, td {
  border-spacing: 0;
  border: none;
}

table {
  border: 1px solid #d8d8d9;
}

.dw-matrix-table-content {
  border: 1px solid #d8d8d9;
} 