.dw-lr-aside {
  /*background-color: var(--dw-primary-bg-color);*/
}

.dw-menu {
  height: 100vh;
}

.dw-menu:not(.el-menu--collapse) {
  width: 210px;
}

.dw-menu-collapse {
  line-height: 40px;
  padding-left: 22px;
  font-size: 18px;
  position: fixed;
  cursor: pointer;
  bottom: 0px;
}

.mouseEnter {
  color: #eeeded;
}

.mouseLeave {
  color: white;
}

.el-menu-item i,
.el-submenu__title i {
  vertical-align: text-top;
  color: inherit;
} 