tbody tr:last-child {
  background-color: #d8d8d9;
}

td {
  background-color: #d8d8d9;
}

.dw-position-sticky {
  position: sticky;
  left: 0;
  z-index: 1;
}

.matrix-title-td {
  white-space: nowrap;
} 